Your profile
<ul>
  <li><%=current_user.name%></li>
  <li><%=current_user.uid%></li>
  <li><%=current_user.email%></li>
  <li><%=current_user.provider%></li>
  <li><img src="<%=current_user.image%>" alt="Here should be avatar"></li>
</ul>