Your profile
<ul>
  <li><%=current_user.name%></li>
  <li><%=current_user.uid%></li>
  <li><%=current_user.email%></li>
  <li><%=current_user.provider%></li>
  <li><%= button_to 'Selfdestruct', "/users/#{current_user.id}", method: 'delete' %></li>
  <li><img src="<%=current_user.image%>" alt="ur photo"></li>
</ul>