<p>My name is : <%= current_user.name %></p>
<p>My uid is : <%= current_user.uid %></p>
<p>My email is : <%= current_user.email %></p>
<p>I log in with <%= current_user.provider %><p>
 <img src="<%=current_user.image%>" alt="ur photo">