<!DOCTYPE html>
<html>
<head>
  <title>Authprov</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></br>
<%= link_to "Sign in with Vkontakte", user_omniauth_authorize_path(:vkontakte) %>

</body>
</html>
